@use "../../assets/styles/" as *;

.CredentialsNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: pixRem(10) pixRem(32);
  height: pixRem(196);
  background: #ffffff;
  transition: all ease 0.4s;

  @include md() {
    padding: 0 pixRem(72);
    height: pixRem(80);
  }
  @include sm() {
    padding: 0 pixRem(20);
    height: pixRem(80);
  }

  .tribe_logo {
    text-decoration: none;
    img {
      width: 160px;
      height: auto;
      cursor: pointer;
      transition: all ease 0.5s;

      @include sm() {
        width: 100px;
      }
    }

    img:hover {
      transform: scale(1.03);
    }
  }

  p {
    color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    width: 600px;
    text-align: center;
  }

  .signIn_button {
    text-decoration: none;
    color: $fontSecondary;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: uppercase;
  }
}
