@use "../../../assets/styles/" as *;

.SearchCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 10vh 0;
  @include md() {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 40px;
  }
  @include sm() {
    padding: 0 pixRem(18);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
  .search__event__input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @include md() {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 100%;
    }
    @include sm() {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 100%;
    }
    input {
      width: 1139px;
      height: 69px;
      border-radius: 30px;
      padding: 18px 100px 18px 54px;
      background: #E9F4FA url('../../../assets/images/search.svg') no-repeat scroll right 54px center;
      border: none;
      outline: none;
      @include md() {
        width: 900px;
      }
      @include sm() {
        width: 100%;
      }
      ::placeholder {
        font-family: Raleway;
        font-size: 24px;
        line-height: 28.18px;
        font-weight: 600;
        color: #D5D4DC;
      }
    }
    span {
      vertical-align: middle;
      cursor: pointer;
      img {
        height: 27px;
        width: 23.99px;
        color: #000000;
        cursor: pointer;
      }
    }
  }
  .trending__categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    h3 {
      font-family: Lato;
      font-weight: 800;
      font-size: 36px;
      line-height: 43.2px;
      color: #02055A;
      @include sm() {
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        font-family: Lato;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    main {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      gap: 0 93px; 
      width: 1053px;
      height: 153px;
      @include sm() {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px 33px; 
        width: 100%;
        height: 100%;
      }
      label {
        padding: 16px 52px 16px 52px;
        height: 61px;
        border-radius: 15px;
        color: #253DA1;
        background: #EFEFEF;
        text-align: center;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 24px;
        line-height: 29.26px;
        cursor: pointer;
        @include sm() {
          padding: 10px 30px;
          height: 45px;
          border-radius: 15px;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
        }
      } 
      input[type="checkbox"]:checked + label {
        background: #253DA1;
        color: #EFEFEF;
      }    
    }
  }

  // @include md() {
  //   padding: 0 pixRem(72);
  // }
  // @include sm() {
  //   padding: 72px pixRem(18);
  //   flex-direction: column;
  //   row-gap: pixRem(100);
  // }
}
