@use "../../../assets/styles/" as *;

.UpcomingEvents {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20vh 20vw;
  row-gap: pixRem(72);
  // background-color: #ebf2f8;
  background-color: #eef2f8;

  @include md() {
    padding: 0 pixRem(72);
  }
  @include sm() {
    padding: 10vh pixRem(20);
    row-gap: pixRem(60);
  }
}
